<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <p>Copyright
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script>
      document.write(new Date().getFullYear())
    </script> by
    <a href="https://bostrot.com/" rel="noreferrer noopener" target="_blank" title="Bostrot">Bostrot</a> and
    <a href="https://github.com/nielsenramon/chalk" rel="noreferrer noopener" target="_blank" title="Download Chalk">Chalk</a>. See our
    <a href="https://www.iubenda.com/privacy-policy/56404285/full-legal">Privacy Policy</a> and 
    <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">RSS.</a>
  </p>
</footer>