<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article {% if site.scrollappear_enabled %}scrollappear{% endif %}">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <div class="article-list-footer">
              <span class="article-list-date">
                {{ page.date | date: "%B %-d, %Y" }}
              </span>
              <span class="article-list-divider">-</span>
              <span class="article-list-minutes">
                {% capture words %}
                {{ page.content | number_of_words }}
                {% endcapture %}
                {% unless words contains "-" %}
                {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
                {% endunless %}
              </span>
              <span class="article-list-divider">-</span>
              <div class="article-list-tags">
                {% for tag in page.tags %}
                <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </header>

          <div class="article-content" id="github-content">
            {{ content }}
          </div>
          <script>$("#github-content").load("https://raw.githubusercontent.com/{{ site.social.github }}/{{ page.github_url }}/master/README.md", function () {
              document.getElementById('github-content').innerHTML = marked(document.getElementById('github-content').innerHTML);
            });
          </script>
          <div class="article-share">
            {% assign page_title = page.title | cgi_escape | truncate: 110 %}
            {% capture twitter-share-text %}{{ page_title }} - {{ page.url | absolute_url }}{% if site.social.twitter
            %} by @{{ site.social.twitter }}{% endif %}{% endcapture %}
            <a href="https://twitter.com/home?status={{ twitter-share-text | uri_escape }}" title="Share on Twitter"
              rel="noreferrer noopener" target="_blank">
              <svg viewBox="0 0 512 512">
                <path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6 -18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6 0.8 15 2.5 22.1 -80.5-4-151.9-42.6-199.6-101.3 -8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7C67 210.7 52 206.3 39 199c0 0.4 0 0.8 0 1.2 0 47 33.4 86.1 77.7 95 -8.1 2.2-16.7 3.4-25.5 3.4 -6.2 0-12.3-0.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3 -33.1 26-74.9 41.5-120.3 41.5 -7.8 0-15.5-0.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-0.1-8.4-0.3-12.5C462.6 146 479 129 492 109.5z" /></svg>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" title="Share on Facebook"
              rel="noreferrer noopener" target="_blank">
              <svg viewBox="0 0 512 512">
                <path d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64H288z" /></svg>
            </a>
            <a href="https://plus.google.com/share?url={{ page.url | absolute_url }}" title="Share on Google+" rel="noreferrer noopener"
              target="_blank">
              <svg viewBox="0 0 128 128">
                <path d="M40.7 55.9v16.1c0 0 15.6 0 22 0C59.2 82.5 53.8 88.2 40.7 88.2c-13.3 0-23.7-10.8-23.7-24.2s10.4-24.2 23.7-24.2c7.1 0 11.6 2.5 15.8 5.9 3.3-3.3 3.1-3.8 11.6-11.9 -7.2-6.6-16.8-10.6-27.4-10.6C18.2 23.3 0 41.5 0 64c0 22.5 18.2 40.7 40.7 40.7 33.6 0 41.8-29.3 39-48.8H40.7zM113.9 56.7V42.6h-10.1v14.1H89.4v10.1h14.5v14.5h10.1V66.8H128V56.7H113.9z" /></svg>
            </a>
          </div>

          {% if site.discus_identifier %}
          <div id="disqus_thread" class="article-comments"></div>
          <script src="https://{{ site.discus_identifier }}.disqus.com/embed.js" async defer></script>
          <noscript>Please enable JavaScript to view the comments.</noscript>
          {% endif %}

          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-9430927632405311",
              enable_page_level_ads: true
            });
          </script>


          <div id="comments"></div>
          <script>
            var headDiv = document.getElementsByTagName("head")[0];
            var styleDiv = document.createElement("style");
            var scriptDiv0 = document.createElement("script");
            scriptDiv0.setAttribute("src", "https://cdn.jsdelivr.net/npm/moment@2.22.2/min/moment.min.js");

            var scriptDiv1 = document.createElement("script");
            scriptDiv1.setAttribute("src", "https://cdn.jsdelivr.net/npm/marked/marked.min.js");
            styleDiv.innerHTML = `
                img {
              max-width: 100%;
              max-width: 100%;
                }

                a:active,
                a:hover {
              color: #19B698;
                }

                .comment > a {
              color: #788187;
              font-size: 92%;
              text-decoration: none;
                }

                .comment_userpic {
              width: 48px;
              height: 48px;
              display: inline-block;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              border-radius: 50%;
              margin-right: 0.6rem;
              position: relative;
              float: left;
                }

                .comment {
              width: 100%;
              float: right !important;
              position: relative;
              clear: both;
              margin-bottom: 2.4rem;
              margin-top: 2em;
                }

                .comment_header {
              margin-left: 62px;
                }

                .comment_body {
              margin-top: 0.1em;
              margin-left: 62px;
                }

                .comment_footer {
              margin-top: 0.1em;
              margin-left: 62px;
              color: #788187;
              font-size: 92%;
                }

                .comment_date {
              color: #788187;
              font-size: 92%;
                }`;
            headDiv.appendChild(styleDiv);
            headDiv.appendChild(scriptDiv0);
            headDiv.appendChild(scriptDiv1);
            var loadComments = function (data, offset, commentId) {
              var l = data.length;
              if (data.length === undefined) {
                l = 1;
              }
              for (var i = 0; i < l; i++) {
                commentData = data[i];
                if (offset === 0) {
                  commentData = data
                }
                // userpic
                var userpic = document.createElement('div');
                userpic.style.backgroundImage = "url(" + commentData.user.avatar_url + ")";
                userpic.className = 'comment_userpic';
                // header
                var header = document.createElement('div');
                header.className = 'comment_header';
                header.innerHTML = '<strong>' + commentData.user.login + ' · </strong><i class="comment_date">' + moment(
                  commentData.created_at).fromNow() +
                  '<a style="float: right;" href="#"><i class="fa fa-flag"></i></a></p>';
                userpic.className = 'comment_userpic';
                // body
                var body = document.createElement('div');
                body.className = 'comment_body';
                body.innerHTML = marked(commentData.body);
                // footer
                var footer = document.createElement('div');
                footer.className = 'comment_footer';
                //footer.innerHTML = ("<a href=\"#\" class=\"fa fa-chevron-circle-up\"></a> $" + (commentData.reactions["+1"]));
                // comment div
                var comment = document.createElement('div');
                comment.id = commentData.number;
                comment.className = 'comment';
                comment.appendChild(userpic);
                comment.appendChild(header);
                comment.appendChild(body);
                comment.appendChild(footer);
                if (offset > 90) {
                  comment.style.width = '90%';
                }
                else {
                  comment.style.width = (100 - offset) + '%';
                }
                if (commentId !== undefined) {
                  document.getElementById(commentId).appendChild(comment)
                } else {
                  document.getElementById("comments").appendChild(comment)
                }
              }
            }

            if (window.fetch) {
              var fetchUrl = "https://afternoon-citadel-61886.herokuapp.com/comments?q=/repos/{{ site.social.github }}/{{ page.github_url }}"
              console.log(fetchUrl)
              var url = fetchUrl + "/issues";

              window
                .fetch(url, { Accept: "application/vnd.github.v3.html+json" })
                .then(function (response) {
                  return response.json()
                })
                .then(function (json) {
                  if (json.length) {
                    for (var i = 1; i <= json[0]["number"]; i++) {
                      var cache = i;
                      i = json[0]["number"] + 1 - i;
                      window
                        .fetch(fetchUrl + "/issues/" + i, { Accept: "application/vnd.github.v3.html+json" })
                        .then(function (response) {
                          return response.json()
                        })
                        .then(function (json) {
                          if (json.message !== "Not Found") {
                            loadComments(json, 0)
                          }
                        })
                      subComments(cache);
                      i = cache;
                    }
                  }
                })
            }
            function subComments(id) {
              window
                .fetch(fetchUrl + "/issues/" + id + "/comments", { Accept: "application/vnd.github.v3.html+json" })
                .then(function (response) {
                  return response.json()
                })
                .then(function (json) {
                  if (json.length && json.message !== "Not Found") {
                    loadComments(json, 5, id)
                  } else {
                  }
                })
            }
          </script>

<p>Comments are using GitHub Issues. You can post by creating an <a href="https://github.com/{{ site.social.github }}/{{ page.github_url }}/issues/">issue</a> or reply to one.</p>

          {% if site.discord_identifier %}
          <div id="discord_thread" class="article-comments"></div>
          <iframe src="https://discordapp.com/widget?id={{ site.discord_identifier }}&theme={{ site.blog_theme }}"
            width="100%" height="300" allowtransparency="true" frameborder="0"></iframe>
          {% endif %}
        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>

</html>